  body, html {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: hidden; /* Prevents scrolling */
        }
        #pdf-viewer {
            width: 100%;
            height: 100%; /* Full height for mobile responsiveness */
            border: none;
        }
